body {
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    margin-left: 30px;
}

.header h2{
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    position: relative;
    top: -3px;
}

.content { 
    margin-left: 70px;
}

.cam-detection {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 40px;
    width: 100%;
}

.cam-detection h3, .notifications h3 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -3px;
}

.title-toggle { 
    display: flex;
    align-items: center;
    /* gap: 200px; */
    justify-content: space-between;
    width: 100%;
}

.title-toggle h3{
    font-weight: 400;
}

.card{
    border: 1.5px solid #E5E7EB;
    border-radius: 16px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
    gap: 16px;
    width: 600px;
    min-height: 120px;
}

.eye-icon img, .yawn-icon img{ 
    margin-left: 20px;
    width: 48px;
    height: 48px;
}

.top-row, .bottom-row { 
    display: flex;
    align-items: stretch;
    gap: 30px;
}

.card p {
    margin: 8px 0 0 0;
}

.non-icon {
    flex: 1;
}

.bottom-row{
    margin-top: 30px;
}

.notifications{
    max-width: 1230px;
    display: flex;
    flex-direction: column;
}

button{
    background-color: #155DFC;
    color: #ffffff;
    width: 195px;
    height: 56px;
    border-radius: 15px;
    padding: 10px 32px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    margin-left: auto;
}

button:hover{
    background-color: #3B82F6;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}